/*header CSS*/
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

body {
	/*overflow: hidden;*/
	width: 980px;
	margin: auto;
}

#header {
	width: 980px;
	position: relative;
}

#logo {
	margin-top: 30px;
}

#logo img{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login {
	/*overflow: hidden;*/
	text-align: right;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 15px;
}

#login span {
	display: inline-block;
	text-align: center;
	width: 70px;
	border: 3px solid gray;
	color: #3c3c3c;
	background-color: lightgreen;
/* 	border-radius: 10px; */
	margin-left: 5px;
	margin-right: 5px;
}

#menu {
	
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 80px;
	border-bottom: 1px solid gray;
	
}

#menu span {
	display: inline-block;
	width: 150px;
	border: 3px solid gray;
	color: #3c3c3c;
	background-color: #DCEBFF;
/* 	border-radius: 10px; */
	margin-left: 20px;
	margin-right: 20px;
}

/*index CSS*/

#contents {
	margin-top: 30px;
}

#contents img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*loginform CSS*/

.login-form {
	margin-top: 80px;
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #EEEFF1;
    border-radius: 5px;
    border: 0;
}

.text-field {
    width: 260px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    color: #198556;
    border : 0;

    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

.submit-btn {
    width: 260px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #59d393;
    font-size: 14px;
    color: #FFFFFF;

    border-radius: 5px;
    border: 0;
}

.links {
    text-align: center;
}

.links a {
    font-size: 12px;
    color: #9B9B9B;
    font-family: 'Noto Sans KR', sans-serif;
}

/*regiform CSS*/

.regi-form {
	margin-top: 80px;
	width: 300px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;


	background-color: #EEEFF1;
	border-radius: 5px;
	border: 0;
}
